.container {
    background-color: rgb(247, 246, 245);
    margin-top: 10px;
}

#div1 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(238, 245, 245);
}

.navbar-brand {
    margin-left: 20px;
}

.navbar-nav {
    color: white;
}

h5 {
    color: rgb(9, 110, 77);
}

body {
    background-color: rgb(192, 237, 248);
}

#div5 {
    background-color: rgb(6, 219, 226);
    height: autopx;
    width: autopx;
}

#div6 {
    background-color: rgb(19, 233, 30);
    height: 200px;
    width: auto;
}

footer {
    margin-top: 40px;
    text-align: center;
    height: 200px;
    color: white;
    background-color: #3e3f41;
}

p:hover {
    background-color: rgb(184, 179, 181);
}

.alert {
    width: 600px;
    margin-left: 200px;
    margin-left: 700px;
}

#n1 {
    color: white;
}

#b1 {
    height: 40px;
    width: 120px;
    background-color: rgb(24, 24, 26);
}

#alert {
    margin-left: 600px;
    width: 600px;
    text-align: center;
}

.ig {
    width: 70px;
    height: 70px;
    align-items: center;
    margin-left: 50px;
}

.btn-group {
    float: left;
    margin-top: 48px;
}

#call {
    margin-top: -15px;
    float: right;
    margin-right: 20px;
}

li:hover {
    background-color: rgb(14, 109, 34);
}

.tutorial-section {
    margin-left: 40px;
    margin-right: 40px;
}

.card-body {
    box-shadow: 20px;
    text-shadow: 1px;
}

.table {
    margin-left: 70px;
    margin-right: 50px;
    width: 1000px;
    margin-bottom: 30px;
    padding: 20px;
}

.ma {
    margin-left: 30px;
}